---
layout: default.hbs
---


<article class="is-post">

  <header>
    <h2><a href="#">{{ title }}</a></h2>
    <span class="byline"> {{ subtitle }} </span>
  </header>

  <div class="info">
    <span class="date">
      <span class="month">{{ formatDate date "%b %d, %Y" }}</span>
    </span>

  </div>

  {{#if image }}
    <a href="{{ url }}" class="image image-full"><img src="/images/{{ image }}" alt="" /></a>
  {{/if}}

  <div class="post">
    {{#markdown}}
      {{> body }}
    {{/markdown}}

    {{#if config.disqus.shortname }}
      {{> disqus_thread }}
    {{/if }}
  </div>

</article>
