<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{{ config.site.name }}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0">
    <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,700|Open+Sans+Condensed:300,700" rel="stylesheet" />

     <!-- build:css /css/{{config.site.name}}.css -->
    <link rel="stylesheet" href="/css/skel-noscript.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-mobile.css" />
    <link rel="stylesheet" href="/css/style-desktop.css" />
    <link rel="stylesheet" href="/css/style-narrow.css" />
    <link rel="stylesheet" href="/css/style-narrower.css" />
    <link rel="stylesheet" href="/css/style-wide.css" />
    <link rel="stylesheet" href="/css/coderay.css" />
    <link rel="stylesheet" href="/css/pygment.css" />
    <!-- endbuild -->

    <!--[if lte IE 9]><link rel="stylesheet" href="/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><script src="/js/html5shiv.js"></script><link rel="stylesheet" href="/css/ie8.css" /><![endif]-->
    <!--[if lte IE 7]><link rel="stylesheet" href="/css/ie7.css" /><![endif]-->
  </head>

  <body class="left-sidebar">

    <div id="titlebar" class="skel-panels-overlay skel-panels-overlay-top-left">
      <div class="toggle" id="slide-menu-button">
      </div>
      <div class="title">
          <h1> {{config.site.name}} </h1>
      </div>
    </div>

    <div id="wrapper">

        <div id="content">

          <div id="content-inner">

            {{> body }}

          </div>
        </div>

        {{> sidebar }}
    </div>

    {{#if config.disqus.shortname }}
      {{> disqus_count }}
    {{/if }}

    {{#if config.ga}}
    <script>
      var _gaq=[['_setAccount','{{config.ga}}'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src='//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
    {{/if}}

    <!-- build:js /js/{{config.site.name}}.js -->
      <script src="/js/toggleSidebar.js"></script>
    <!-- endbuild -->

  </body>
</html>
