---
layout: default.hbs
---


<article class="is-post">

  <header>
    <h2><a href="#">{{ title }}</a></h2>
    <span class="byline"> {{ subtitle }} </span>
  </header>

  <div class="info">
    <span class="date">
      <span class="month">{{ formatDate date "%b"}}<span></span></span> <span class="day">{{ formatDate date "%d"}}</span><span class="year">, {{ formatDate date "%Y"}}</span>
    </span>

    <ul class="stats">
      {{#if config.disqus.shortname }}
        <li><a href="#disqus_thread" class="fa fa-comment">?</a></li>
      {{/if}}
      {{#if config.twitter.name }}
        <li><a href="https://twitter.com/share?url={{encodeURI config.site.url}}{{replaceStr dest 'dist' ''}}&via={{config.twitter.name}}" class="fa fa-twitter" target="_blank"></a></li>
      {{/if}}
    </ul>
  </div>

  {{#if image }}
    <a href="#" class="image image-full"><img src="/images/{{ image }}" alt="" /></a>
  {{/if}}

  <div class="post">
    {{#markdown}}
      {{> body }}
    {{/markdown}}

    {{> disqus_thread }}
  </div>

</article>
